<a href="https://colab.research.google.com/github/soohyoen/artificial-intelligence/blob/main/B_build_dtm_tfidf_class_6_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# install & import the libraries needed
!pip3 install pandas
!pip3 install scikit-learn
from typing import List
from math import log
import numpy as np
import pandas as pd
import random
from sklearn.metrics.pairwise import cosine_similarity
# for printing out all the columns of a pandas dataframe https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf
pd.set_option('display.max_columns', None)

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)

In [1]:
# The corpus
CORPUS = [
    'this is the first document',
    'the first document is this',
    'this is the second document',
    'and this is the third document',
    'is this the first document'
]

In [5]:
# we will reuse the functions we completed in the previous tutorial
def tf(term: str, doc: str) -> int:
    # typing을 하는 이유: 오류를 미연에 방지하기 위해서 (단, IDE를 사용하는 경우에만)
    # 더 정확한 버전 (is가 this에 포함 문제가 되므로)
    tf = sum([
      word == term     
      for word in doc.split(" ")  # word count
    ])
    return tf


def build_dtm(corpus: List[str]) -> pd.DataFrame:
    """
    we reuse what we implemented in previous tutorial
    :param corpus:
    :return:
    """
    # build vocabulary - use nested list comprehension, set, and list
    words = [
        word
        for doc in corpus
        for word in doc.split(" ")
    ]
    vocab = list(set(words))

    # populate dtm, ith a nested for loop
    dtm = [
           [tf(term, doc) for term in vocab]  # row
           for doc in corpus
    ]

    # return dtm as a pandas dataframe
    dtm = pd.DataFrame(data=dtm, columns=vocab)
    return dtm

NameError: ignored

In [6]:
# complete this function
def idf(term: str, corpus: List[str]) -> float:
    ### TODO 1 ###
    n = len(corpus)
    df = sum([
          term in doc.split(" ") #True False
          for doc in corpus
    ])
    idf = log(n / (1 + df))
    # log(a/b) = loga - logb
    # idf = log(n) - log(1 + df)
    ##############
    return idf

NameError: ignored

In [7]:
def build_dtm_with_tfidf(corpus: List[str]) -> pd.DataFrame:
    # access the columns with df.columns
    # multiply idfs to each row with numpy's broadcast mul
    dtm = build_dtm(corpus) # tf
    ### TODO 2 ####
    # reuse dtm to build dtm_tfidf
    # use dtm.columns, idf, np.array(), dtm.to_numpy() and broadcast multiplication
    idfs: List[float] = [
          idf(term, corpus)               
          for term in dtm.columns               
    ]
    # dunder methods __mul__
    dtm_tfidf: np.ndarray = dtm.to_numpy() * np.array(idfs)  # 리스트, 혹은 넘파이 배열
    ############### 
    return pd.DataFrame(data=dtm_tfidf, columns=dtm.columns)

NameError: ignored

In [ ]:
print(idf("the", CORPUS))
print(idf("second", CORPUS))
print(idf("eubin", CORPUS))

-0.1823215567939546
0.9162907318741551
1.6094379124341003

In [ ]:
# build dtm, and one with  
dtm = build_dtm(CORPUS)
dtm_tfidf = build_dtm_with_tfidf(CORPUS)
print(dtm)
print(dtm_tfidf)

   document  first  and  this  second  the  is  third
0         1      1    0     1       0    1   1      0
1         1      1    0     1       0    1   1      0
2         1      0    0     1       1    1   1      0
3         1      0    1     1       0    1   1      1
4         1      1    0     1       0    1   1      0
   document     first       and      this    second       the        is  \
0 -0.182322  0.223144  0.000000 -0.182322  0.000000 -0.182322 -0.182322
1 -0.182322  0.223144  0.000000 -0.182322  0.000000 -0.182322 -0.182322
2 -0.182322  0.000000  0.000000 -0.182322  0.916291 -0.182322 -0.182322
3 -0.182322  0.000000  0.916291 -0.182322  0.000000 -0.182322 -0.182322
4 -0.182322  0.223144  0.000000 -0.182322  0.000000 -0.182322 -0.182322

      third
0  0.000000
1  0.000000
2  0.000000
3  0.916291
4  0.000000

다음과 같은 결과가 나와야 합니다 (단어의 순서는 달라도 괜찮습니다):
```
   the  and  third  this  is  first  document  second
0    1    0      0     1   2      1         1       0
1    1    0      0     1   2      1         1       0
2    1    0      0     1   2      0         1       1
3    1    1      1     1   2      0         1       0
4    1    0      0     1   2      1         1       0
        the       and     third      this        is     first  document  \
0 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.223144 -0.182322   
1 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.223144 -0.182322   
2 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.000000 -0.182322   
3 -0.182322  0.916291  0.916291 -0.182322 -0.364643  0.000000 -0.182322   
4 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.223144 -0.182322   

     second  
0  0.000000  
1  0.000000  
2  0.916291  
3  0.000000  
4  0.000000  

```

In [ ]:
# compare the two
print(cosine_similarity(dtm.to_numpy(), dtm.to_numpy()))
print(cosine_similarity(dtm_tfidf.to_numpy(), dtm_tfidf.to_numpy()))

[[1.         1.         0.8        0.73029674 1.        ]
 [1.         1.         0.8        0.73029674 1.        ]
 [0.8        0.8        1.         0.73029674 0.8       ]
 [0.73029674 0.73029674 0.73029674 1.         0.73029674]
 [1.         1.         0.8        0.73029674 1.        ]]
[[1.         1.         0.31538537 0.23104796 1.        ]
 [1.         1.         0.31538537 0.23104796 1.        ]
 [0.31538537 0.31538537 1.         0.10015744 0.31538537]
 [0.23104796 0.23104796 0.10015744 1.         0.23104796]
 [1.         1.         0.31538537 0.23104796 1.        ]]

다음과 같은 결과가 나와야 합니다:
```
[[1.         1.         0.8        0.73029674 1.        ]
 [1.         1.         0.8        0.73029674 1.        ]
 [0.8        0.8        1.         0.73029674 0.8       ]
 [0.73029674 0.73029674 0.73029674 1.         0.73029674]
 [1.         1.         0.8        0.73029674 1.        ]]
[[1.         1.         0.31538537 0.23104796 1.        ]
 [1.         1.         0.31538537 0.23104796 1.        ]
 [0.31538537 0.31538537 1.         0.10015744 0.31538537]
 [0.23104796 0.23104796 0.10015744 1.         0.23104796]
 [1.         1.         0.31538537 0.23104796 1.        ]]

```

## 다음의 질문에 답해주세요!

> `dtm`으로 구한 유사도 행렬 대비, `dtm_tfidf`로 구한 유사도 행렬은 어떤 점이 개선되었나요? 그 이유는?

개선된 점:
유사도 행렬이 좀 더 정확해졌다. 다른 의미인 문장들의 유사도는 내려간다.
- 홍예은09:16
유사도 행렬의 값들이 다양해집니다
- 박민우09:17
값 사이의 차이가 커져서 분리하기 쉽다
 
이유:
-  홍예은09:14
단순 개수가 아닌 상대적 빈도를 계산하기 때문에 불용어의 중요도가 낮아집니다. 문서를 대변할만한 단어의 중요도가 올라간다.
- 박민우09:15
불용어가 문장의 keyword가 되는 것을 방지합니다
- 박재운09:16
각 단어의 중요한 값의 가중치를 부여하여 중요한 단어를 잘 표현할 수 있음

IDF(t) = log(n) / 1 + DF(t) 수식 에서 (n) 값이랑 DF(t) 값이 차이가 1이면 분자랑 분모가 같아져서 값이 0이 나옵니다.


> `dtm_tfidf`로도 해결할수 없는 문제를 발견할 수 있나요?

- 홍예은09:19
1. 여전히 어순을 인지하지 못한다. ('this is the first document' == 'is this the first document')
2. 드물게 나타나지만 문서를 구성하는 요소 또한 키워드로 인식한다. (e.g. 'and', 'of' ...)
3. 단어의 변형을 인지하지 못하므로 (e.g. document, documents) 전처리에 영향을 크게 받는다. 
4. 키워드 판별 척도가 빈도이므로 동음이의어, 다의어, 단어의 개념적 유사도(e.g. 한국, 대한민국)를 고려하지 못한다.
5. 중요한 단어도 말뭉치 안에서 자주 사용될 수 있다. (전제의 오류)


- 박민우09:20
문장 어순을 인지할 수 없음. **합성어와 그를 이루는 단어가 함께 나올 경우**,  keyword를 잘못 결정하는 상황이 발생할 수 있음

e.g. -> after rain, The rain + bow appeared.
subword tokenization (필요한 이유)